---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/Carousel.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const webApps = await getCollection("web-apps");
  return webApps.map((webApp) => ({
    params: { slug: webApp.slug },
    props: { webApp },
  }));
}

const { webApp } = Astro.props;
const { data } = webApp;
const { title, description, img, images, url, date } = data;

// Use images array if available, otherwise fallback to single img
const carouselImages = images && images.length > 0 ? images : [img];

const { Content } = await render(webApp);
---

<Layout>
  <div class="gap-12 bg-mist-900">
    <main class="px-10 py-10 flex flex-col items-center bg-zinc-950">

      <a class="btn border border-white/40 absolute top-20 left-4 z-40" href={`/#projects`}>
        Volver
      </a>
      
      <h1 class="text-4xl font-bold text-white">{title}</h1>

      <Carousel images={carouselImages} slug={webApp.slug} />

      <div class="flex flex-col items-center max-w-3xl text-center gap-6">
        <p class="text-lg text-gray-300 max-w-2xl">
          {description}
          Date: {date}
        </p>
        <div>TECNOLOGIAS</div>
        <div class="prose ">
          <Content />
        </div>
        <a
          href={url}
          class="btn border border-white/40"
          target="_blank"
          rel="noopener noreferrer"
        >
          Visit Application
        </a>
      </div>
    </main>
  </div>
</Layout>
