---
import { getCollection, type CollectionEntry } from "astro:content";

type WebAppEntry = CollectionEntry<"web-apps">;
const webApps: WebAppEntry[] = await getCollection("web-apps");
---

<section class="p-6">
  <div class="mx-auto max-w-7xl">
    <div
      class={`grid gap-6 ${webApps.length === 1 ? "grid-cols-1" : "md:grid-cols-2"}`}
    >
      {
        webApps.map((webApp) => {

          return (
            <div class="card w-60 shadow-sm">
              <figure>
                <img 
                  src={webApp.data.img} 
                  alt="Shoes" 
                  transition:name={`img-${webApp.slug}`}
                />
              </figure>
              <div id={webApp.slug} class="card-body backdrop-blur-xl bg-white/10 border border-white/20 rounded-b-lg">
                <div class="justify-between flex items-center">
                  <h2 class="card-title">{webApp.data.title}</h2>
                  <div>{webApp.data.date}</div>
                </div>
                <p>{webApp.data.description}</p>
                <div class="card-actions justify-end">
                  <a href={`/web-app/${webApp.slug}`} class="btn border border-white/40">
                    Explore
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
