---
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<section class="p-6">
  <div class="mx-auto max-w-7xl">
    <div
      class={`grid gap-6 ${projects.length === 1 ? "grid-cols-1" : "md:grid-cols-2"}`}
    >
      {
        projects.map((project) => {
          return (
            <div class="card w-60 shadow-sm">
              <figure>
                <img
                  src={project.data.img}
                  alt="Shoes"
                  transition:name={`img-${project.id}`}
                />
              </figure>
              <div
                id={project.id}
                class="card-body backdrop-blur-xl bg-white/10 border border-white/20 rounded-b-lg"
              >
                <div class="justify-between flex items-center">
                  <h2 class="card-title">{project.data.title}</h2>
                  <div>{project.data.date}</div>
                </div>
                <p>{project.data.description}</p>
                <div class="card-actions justify-end">
                  <a
                    href={`/projects/${project.id}`}
                    class="btn border border-white/40"
                  >
                    Explore
                  </a>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
